---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto — Juan Cruz Miranda">
  <h1>Contacto</h1>
  <p>Podés comunicarte conmigo en:</p>
  <ul>
    <li>Email: <a href="mailto:tu_email@ejemplo.com">tu_email@ejemplo.com</a></li>
    <li>LinkedIn: <a href="https://linkedin.com/in/tuUsuario" target="_blank">linkedin.com/in/tuUsuario</a></li>
    <li>GitHub: <a href="https://github.com/tuUsuario" target="_blank">github.com/tuUsuario</a></li>
  </ul>
</Layout>
