---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
	<link rel="stylesheet" href="/src/styles/global.css">
  </head>

  <body>
    <!-- HEADER / NAV -->
    <header>
      <div id="netstats"></div>
      <a href="/">Sobre mí</a>
      <a href="/posts/">Posts</a>
      <a href="/contacto/">Contacto</a>
    </header>

    <!-- PAGE CONTENT -->
    <main>
      <slot />
    </main>
    <footer>
    © {new Date().getFullYear()} • Juan Cruz Miranda • Desarrollador HFT y Sistemas de Baja Latencia
    <br />
    <a href="https://github.com/TU_USUARIO" target="_blank">GitHub</a> •
    <a href="https://www.linkedin.com/in/TU_USUARIO" target="_blank">LinkedIn</a>
    </footer>
  </body>
</html>
